.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    padding: 0 50px;
    background: #ddd;
}

.header h1 {
    height: 100px;
    transition: 0.5s;
}

.header.on h1 {
    height: 50px;
}

.gnb {
    position: fixed;
    top: 50%;
    right: 50px;
    /* transform: translate(0, -50%); */
    z-index: 999;
}

.gnb li a {
    position: relative;
    display: block;
    width: 100px;
    height: 21px;
}

.gnb li a span {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.gnb li.on a span {
    display: block;
    transform: translate(-100%, 0);
}

.gnb li a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    height: 1px;
    background: #333;
    transition: width 0.3s;
}

.gnb li.on a::after {
    width: 100%;
}

.section.on {
    color: tomato;
    transition: 0.5s;
}

.main {
    background: url(../images/mainvisual01.jpg) center center/cover;
}

.sub01 {
    background: url(../images/mainvisual02.jpg) fixed center center/cover;
}

.sub01 .inner {
    height: 200vh;
}

.sub02 {
    background: url(../images/mainvisual03.jpg) center center/cover;
}

.footer {
    background: #333;
}

.footer .inner {
    height: 500px;
}